jupyter
# qtconsole
# use `conda install -y qtconsole`
jupyter_kernel_gateway
jupyter-server>=2.14.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
